@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* default setting  */
* {
    /* not using traditional box model */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(241,74,116);
    background: linear-gradient(37deg, rgba(241,74,116,1) 0%, rgba(174,59,193,1) 61%);
    margin: 0;
    /* using flex-box : most ofthe project 
     in the midle of view port*/
    display: flex;
    flex-direction: column;
    /* align iten to horizontally
     because flex diretion is column */
    align-items: center;
    /* jusity content align text vrtically (because of flex direction) , by default it is horizenrtal , it only works when height of the body is definded */
    justify-content: center;

    /* 100vh means take up the entire viewport height */
    height: 100%;

    /* dont want to show scroll bar */
    /* overflow: hidden; */

}

h2{
    color: aliceblue;
    margin: 10px;
}

.box {
    background-color: rgb(62, 151, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    border : 2px solid snow;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.481);

    /* for moving box use transform */
    transform: translateX(400%);
    /* for animation add transition */
    transition: transform 0.4s ease-in-out;
}

/* every even one */
.box:nth-of-type(even){
    /* alternate animation evefect */
    transform:  translateX(-400%);
}

.box.show {
    transform: translateX(0);
}